.item_box *{
     box-sizing: border-box;
}

.item_box {
    width: 100%;
    max-width: 250px;
}

.item_link {
    display: block;
}

.item_content {
    position: relative;
    overflow: hidden;
}

.item_image img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.item_mask {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.item_mask-text {
    width: 100%;
    padding: 0.5em;
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
   
.item_text {
    margin-top: 10px;
    text-align: center;
}
   
.item_box .item_link:hover .item_mask {
    opacity: 1;
}
   
.item_box .item_mask {
    top: 100%;
    transition: top 0.5s ease, opacity 0.5s ease;
}
   
.item_box .item_link:hover .item_mask {
    top: 50%;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-box img {
    vertical-align: top;
}
  
.left-box img {
    width: 100%;
    margin: 0;
    padding: 0 0 0%;
}
  
.mid-box img {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 0 auto;
}

.right-box img {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 0 auto;
}
